{% extends "invApp/layout.html" %}

<!-- Title -->
{% block title %}Products{% endblock %}

<!-- Content -->
{% block content %}
<h1 class="text-center">Products</h1>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <td>Product ID</td>
      <td>Name</td>
      <td>SKU</td>
      <td>Price</td>
      <td>Quantity</td>
      <td>Supplier</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.product_id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.sku }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.supplier }}</td>
      <td>
        <a
          href="{% url 'product_update' product.product_id %}"
          class="btn btn-warning"
          >Update</a
        >
        <a
          href="{% url 'product_delete' product.product_id %}"
          class="btn btn-danger"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
